.button {
    width: 150px;
    height: 30px;
    border-radius: 5px;
    border: none;
    background-color: $main-color;
    color: #ffffff;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    &_login {
        margin-top: 6px;
        position: relative;
        width: 124px;
        text-align: right;
        &::before {
            content: '';
            background-image: url('../icons/user.svg');
            background-size:24px;
            width: 24px; 
            height: 24px; 
            background-repeat: no-repeat; 
            margin-left: -31px;
            margin-top: -3px;
            position: absolute;
        }
    }
    &_google {
        width: 300px;
        height: 56px;
        background-color: #ffffff;
        border: 1.0px solid #e8e8e8;
        border-radius: 5.0px;
        color: $text-color;
        font-size: 15px;
        font-weight: 500;
        text-align: right;
        padding-right: 23px;
        text-transform: uppercase;
        &::before {
            content: '';
            background-image: url('../icons/login/google.svg');
            background-size: 27px;
            width: 27px; 
            height: 27px; 
            background-repeat: no-repeat; 
            margin-left: -43px;
            margin-top: -3px;
            position: absolute;
        }
    }
    &_facebook {
        margin-top: 29px;
        width: 300px;
        height: 55px;
        background-color: #3b5998;
        border: 1.0px solid #e8e8e8;
        border-radius: 5.0px;
        font-size: 15px;
        font-weight: 500;
        text-align: right;
        padding-right: 14px;
        text-transform: uppercase;
        &::before {
            content: '';
            background-image: url('../icons/login/facebook.svg');
            background-size: 27px;
            width: 27px; 
            height: 27px; 
            background-repeat: no-repeat; 
            margin-left: -39px;
            margin-top: -3px;
            position: absolute;
        }
    }
    &_main {
        margin-top: 67px;
        width: 300px;
        height: 50px;
        font-size: 16px;
    }
    &_in {
        width: 300px;
        height: 50px;
        font-size: 16px;
    }
    &_registration {
        margin-top: 27px;
        width: 300px;
        height: 50px;
        font-size: 16px;
    }
    &_create {
        width: 300px;
        height: 50px;
        font-size: 16px;
    }
    &_submit {
        width: 100%;
        height: 55px;
        font-size: 16px;
    }
    &_mini {
        width: 131px;
        height: 40px;
        font-size: 14px;
    }
    &_download {
        display: block;
        margin: 14px auto;
        width: 300px;
        height: 50px;
        background-color: #c70101;
        border-radius: 5.0px;
        font-size: 16px;
    }
}