{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User account</title>
    <link rel="stylesheet" href="{% static 'css/style.min.css' %}">
</head>
<body>

    <div class="container">
        <header class="header header__login">
            <a href="{% url 'index' %}" class="header__logo">
                <img src="{% static 'icons/login/logo2.png' %}" alt="logo">
            </a>
            <div class="header__buttons">
                <a href="{% url 'basket' %}">
                    <button class="button button_login">koszyk</button>
                </a>
                <a href="{% url 'logout' %}">
                    <button class="button button_logout"></button>
                </a>
            </div>
        </header>
    </div>

<body>



    {% block content %}

    {% endblock %}

    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="{% static 'js/wow.min.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
</body>

</html>