{% extends 'account/account.html' %}

{% block content %}
    <div class="container">
        <div class="account__tabs">
            <a href="{% url 'profile' %}" class="account__tab "><div>moje dane</div></a>
            <a href="{% url 'user_orders' %}" class="account__tab "><div>historia</div></a>
            <a href="{% url 'servises' %}" class="account__tab "><div>uslugi</div></a>
        </div>
    </div>
    <div>
        W koszyku: {{ cart.get_total_price }} zl<hr/>
        {% for proc in cart.process.all %}
            <form method="post" action="">
                {% csrf_token %}
                <span style="width: 280px; display: inline-block;">{{ proc }} {{ proc.price }}</span>
                <input type="hidden" name="pid" value="{{ proc.id }}" />
                <input  type="submit" value="Usuń" />
            </form>
            {% if forloop.last %}
                <hr/>

                <a href="{% url 'order' %}" >Zamów &gt;&gt;&gt;</a>
            {% endif %}
        {% empty %}
            Nie wachaj się, dodaj coś!
        {% endfor %}
    </div>
{% endblock %}