{% extends 'account/account.html' %}

{% block content %}<br>
    <div>
        {% for proc in processes %}
            <form method="post">
                {% csrf_token %}
                <span style="width: 280px; display: inline-block;">{{ proc.name }} - od {{ proc.price }} zl</span>
                <input type="hidden" name="pid" value="{{proc.id}}" />
                <input class="btn btn-success" type="submit" value="Dodaj" />
            </form>
        {% endfor %}
    </div>

{% endblock %}