{% extends 'account/account.html' %}
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User account</title>
    <link rel="stylesheet" href="{% static 'css/style.min.css' %}">
</head>
{% block content %}
    <div class="container">
        <div class="account__tabs">
            <a href="{% url 'profile' %}" class="account__tab account__tab_active"><div>moje dane</div></a>
            <a href="{% url 'user_orders' %}" class="account__tab "><div>historia</div></a>
            <a href="{% url 'servises' %}" class="account__tab "><div>uslugi</div></a>
        </div>
    </div>
    <div class="overlay" id="car">
        <div class="modal" >
            <div class="modal__close">&times;</div>
            <div class="modal__subtitle">Dodaj nowy samochód</div>
            <form class="feed-form feed-form_mt25" action="{% url 'car_create' %}" method="POST">
                {% csrf_token %}
                {{ form_car }}
                <input type="hidden" name="action" value="car_create" />
                <button class="button button_submit">dodaj</button>
            </form>
        </div>
    </div>
    <section class="account" id="account">
        <div class="container">
            <div class="account__content account__content_active">
                <div class="account-item">
                    <h2 class="account-item__title">Informacje podstawowe</h2>
                    <form method="post" class="account-form" action="{% url 'user_update' user.pk %}">
                        {% csrf_token %}
                        {{ form_user }}
                        <button class="button button_save">zmien dane</button>
                    </form>
                    <div class="account-item__car" >
                        <h2 class="account-item__title account-item__title_car">Moje auta</h2>
                        {% for car in request.user.cars.all %}
                            <div class="overlay" id="car_details">
                                <div class="modal">
                                    <div class="modal__close">&times;</div>
                                    <div class="modal__subtitle">Edytuj samochód</div>
                                    <form class="feed-form feed-form_mt25" action="{% url 'car_details'  car.id %}" method="POST">
                                        {% csrf_token %}
                                        <input name='brand' id='brand_edit_{{ car.id }}' value='{{ car.brand }}'>
                                        <input name='model' id='model_edit_{{ car.id }}' value='{{ car.model }}'>
                                        <input name='registration' id='registration_edit_{{ car.id }}' value='{{ car.registration }}'>
                                        <input name='year' id='year_edit_{{ car.id }}' value='{{ car.year }}'>
                                        <input name='insurance' id='insurance_edit_{{ car.id }}' value='{{ car.insurance }}' onfocus='(this.type="date")'>
                                        <input name='review_date' id='review_date_edit_{{ car.id }}' value='{{ car.review_date }}' onfocus='(this.type="date")'>
                                        <input name='vin' id='vin_edit_{{ car.id }}' value='{{ car.vin }}'>
                                        <input type="hidden" name="action" value="car_details" />
                                        <button class="button button_submit">zapisz</button>
                                    </form>
                                </div>
                            </div>

                            <div class="account-item__wrapper">
                            <div class="account-item__img">
                                <img src="{% static 'icons/user/car_logo.png' %}" alt="zdjęcie marki auta">
                            </div>
                            <div class="account-item__descr">
                                <div class="account-item__title"><span>{{ car }} {{ car.registration }}</span></div>
                                <p>Ubezpieczenie auta do: <span>{{ car.insurance }}</span></p>
                                <p>Ostatni przegląd techniczny: <span>{{ car.review_date }}</span></p>

                                <div class="account-item__edit">
                                        <button data-modal="car_details" class="button button_edit">edytuj</button>
                                    <form action="{% url 'car_delete' car.id %}" method="GET">
                                        <button class="button button_edit">usun</button>
                                    </form>
                                </div>
                            </div>
                                <button data-modal="car" class="button_car">+ dodaj auto</button>
                        </div>
                        {% empty %}
                            <div class="account-item__car_none">
                                <div class="account-item__subtitle">Obecnie nie masz żadnych samochodów <br>
                                dodanych do swojego konta.</div>
                                <button data-modal="car" class="button_car">+ dodaj kolejne auto</button>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="account-item__password">
                        <h2 class="account-item__title">Zmiana hasła</h2>
                    <form class="account-form account-form__reset_pass" action="{% url 'profile' %}" method="post">
                        {% csrf_token %}
                        <input type='password' name="password" required placeholder="Hasło">
                        <input type="text" style="visibility: hidden;">
                        <input type='password' name="new_password" required placeholder="Nowe hasło">
                        <input type='password' name="repeat_password" required placeholder="Potwierdź hasło">
                        <button type='submit' class="button button_save">zapisz zmiany</button>
                    </form>

                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}