{% extends 'account/account.html' %}

{% block content %}

    <div class="container">
        <div class="account__tabs">
            <a href="{% url 'profile' %}" class="account__tab "><div>moje dane</div></a>
            <a href="{% url 'user_orders' %}" class="account__tab "><div>historia</div></a>
            <a href="{% url 'servises' %}" class="account__tab account__tab_active"><div>uslugi</div></a>
        </div>
    </div>
    <h2>Some info about Pancar services</h2>
    {% for cat in categories %}
        <a href="{% url 'processes' cat.id %}"><p>{{ cat }}</p></a>
    {% endfor %}
{% endblock %}