{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rejestracja</title>
    <link rel="stylesheet" href="{% static 'css/style.min.css' %}">
</head>
<body>
    <div class="container">
        <header class="header header__login">
            <a href="{% url 'index' %}" class="header__logo">
                <img src="{% static 'icons/login/logo2.png' %}" alt="logo">
            </a>
        </header>
    </div>

    <section class="registration">
        <div class="container">
            <div class="registration__wrapper">
                <div class="line"></div>
                <div class="registration__form">
                    <h2>ZAREJESTRUJ SIĘ</h2>
                    <form class="registration-form" action="{% url 'signin' %}" method="post">
                        {% csrf_token %}
                        {{ form.email }}
                        {{ form.password }}
                        <button type="submit" class="button button_in">Załóż konto</button>
                    </form>
                    <div class="registration__terms">
                        Tworząc konto, użytkownik wyraża zgodę na <br> 
                        <a href="#">Warunki korzystania z usługi</a> i 
                        <a href="#">Politykę prywatności</a>
                    </div>
                </div>

                <div class="registration__reason">
                    <h3>5 przyczyn<br>założyć konto w pancar</h3>
                    <ul class="registration__reason_list">
                        <li>Umawianie wizyt online w kilka minut</li>
                        <li>Historia usług prowadzona przez nasz warsztat</li>
                        <li>Podsumowanie wydatków na naprawy</li>
                        <li>Przypomnienia o terminach</li>
                        <li>Dostęp do programu lojalnościowego</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    
</body>
</html>