{% load static %}
{% load socialaccount %}
{% providers_media_js %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Autoryzacja</title>
    <link rel="stylesheet" href="{% static 'css/style.min.css' %}">
</head>
<body>
    <div class="container">
        <header class="header header__login">
            <a href="{% url 'index' %}" class="header__logo">
                <img src="{% static 'icons/login/logo2.png' %}" alt="logo">
            </a>
        </header>
    </div>

    <section class="login">
        <div class="container">
            <div class="login__wrapper">
                <div class="line"></div>
                <div class="login__in">
                    <h2>MAM KONTO</h2>
                    <form class="login-form login-form_in" method="post">
                        {% csrf_token %}
                        {{ form.username }}
                        {{ form.password }}
                        <button class="button button_in">zaloguj się</button>
                    </form>
                    <div class="login__help">
                        <label class="checkbox">
                            <input type="checkbox" name="remember_me" checked="checked">  
                            <div class="checkbox__text">Zapamiętaj mnie</div>
                        </label>
                        <a href="#">Zapomniałeś hasła?</a>
                    </div>
                </div>

                <div class="login__registration">
                    <h2>NIE MAM KONTA</h2>
                    <div class="login__oauth">
                        <form action="{% url 'signin' %}">
                            <button class="button button_registration">Załóż konto</button>
                        </form>
                        <p>LUB</p>
                        <form action="{% provider_login_url 'google' %}" method="get">
                            <button class="button button_google">Załoguj się przez google</button>
                        </form>
                        <form action="{% provider_login_url 'facebook' %}" method="get">
                            <button class="button button_facebook">Załoguj się przez facebook</button>
                        <form/>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
</body>
</html>